<?xml version="1.0"?>
<!--
/**
 * Orkestapay_Checkout DI definitions
 *
 * @category    Orkestapay
 * @package     Orkestapay_Checkout
 * @author      Federico Balderas
 * @copyright   Orkestapay (http://orkestapay.com)
 * @license     http://www.apache.org/licenses/LICENSE-2.0  Apache License Version 2.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Orkestapay\Checkout\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="orkestapay_checkout" xsi:type="const">Orkestapay\Checkout\Model\Payment::CODE</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="orkestapay_checkout_config_provider" xsi:type="object">Orkestapay\Checkout\Model\OrkestapayConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
