<?xml version="1.0"?>
<!--
/**
 * Orkestapay_Checkout events configuration
 *
 * @category    Orkestapay
 * @package     Orkestapay_Checkout
 * @author      Federico Balderas
 * @copyright   Orkestapay (http://orkestapay.com)
 * @license     http://www.apache.org/licenses/LICENSE-2.0  Apache License Version 2.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_payment">
        <observer name="orkestapaycheckout_observer_check_config" instance="Orkestapay\Checkout\Observer\MerchantInfo"/>
    </event>
</config>
